html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

body {
  background-color: #f5f6fa;
}

.bb {
  border: 0px solid black;
}

.app-container {
  margin: 10px auto;
  width: 900px;
}

.header-container {
  height: 57px;
  display: flex;
}

.logo-link {
  box-sizing: border-box;
  width: 237px;
  /* background-color: #ffffff; */
  background-image: url(../src/pics/logo.png);
  border: 2px solid #686ab1;
  border-radius: 8px;
  margin: 0 37px 0 0;
  text-align: center;
  /* font-weight: 700; */
  /* height: 57px; */
}

.logo-img {
  box-sizing: border-box;
}



.header-main {
  box-sizing: border-box;
  width: 626px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.main-container {
  margin: 24px 0 0 0;
  display: flex;
}

.left-nav {
  box-sizing: border-box;
  width: 237px;
  background-color: white;
  border-radius: 8px;
  margin: 0 37px 0 0;
  padding: 15px;
  height: 208px;
  align-self: flex-star;
  font-size: 16px
}

.left-nav li {
  margin: 0 0 20px 0;
  font-weight: 600;
}

.link-span {
  color: #8a92a6;
  margin: 0 10px;
  font-weight: 600;
  cursor: pointer;
}

.header-user {
  color: coral;
}

.outlet-container {
  width: 626px;
  border-radius: 8px;
  background-color: white;
}

.users-header {
  display: flex;
  justify-content: space-between;
}

.users-table {
  margin: 20px auto ;
  border: 1px solid grey;
  font-size: 0.7em;
}

.users-table-th {
  padding: 5px;
  border: 1px solid grey;
  background-color: #cccccc;
}

.users-table-td {
  padding: 5px;
  border: 1px solid grey;
}

.users-table-npp {
  width: 27px;
}

.users-table-name {
  width: 230px;
}

.users-table-mail {
  width: 230px;
}

.users-table-buttons {
  width: 170px;
}

.span-limit {
  font-size: 0.7em;
  margin: 0 5px 0 0;
}

.user-search-wrap {
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.users-search {
  height: 32px;
  width: 400px;
}

.users-icon {
  width: 25px;
  height: 25px;
  margin: 0 8px;
  cursor: pointer;
}

.paging {
  display: flex;
  margin: 0 auto;
  width: 230px;
}

.paging-button {
  margin: 0 10px;
  height: 40px;
  width: 40px;
  border: 1px solid grey
}

.paging-span {
  display: block;
  width: 70px;
  font-size: 18px;
  padding: 10px;
  text-align: center
}

.paging-arrows {
  font-size: 1.6em;
}

.navbar-nav {
  display: flex;
  font-size: 24px;
  text-decoration: none;
}

.nav-item, .nav-link:visited {
  list-style: none;
  margin: 20px;
  color: #04145c;
}

.nav-link  {
  text-decoration: none;
}

.home {
  margin: 0 60px;
  padding: 20px;
  width: 320px;
  font-size: 20px;
}

.login-input {
  margin: 0 0 20px 0;
  font-size: 18px;
  height: 40px;
  width: 300px;
  background-color: #fefee3;
}

.form-button {
  font-size: 18px;
  width: 150px;
  height: 40px;
  border: 3px solid #686ab1;
  border-radius: 5px;
  background-color: #acadd2;
}

.pol {
  margin: 0 0 0 0;
}

.input-span {
  display: block;
  color: #04145c;
  margin-bottom: 5px;
}

.mainpage {
  margin: 20px;
  font-size: 22px;
}

.read {
  margin-bottom: 20px;
}

.user-view {
  margin: 20px;
}

.user-view h1{
  font-size: 1.5em;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.edit-fields {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  width: 80px;
  margin-right: 20px;
  
}

.user-edit-input {
  background-color: #fefee3;
  width: 300px;
  height: 30px;
  font-size: 1em;
}

.user-edit-button {
  margin-left: 121px;
  margin-bottom: 30px;
}