html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

input,textarea{border-radius: 5px;border: 1px solid #ccc}
button{border-radius: 5px;border: 0px solid #ccc;cursor: pointer;}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
  font-size: 26px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 700;
}

body {
  background-color: #f5f6fa;
  font-family: 'Roboto', sans-serif;
}

.bb {
  border: 1px solid black;
}

.app-container {
  margin: 10px auto;
  width: 900px;
}

.header-container {
  height: 57px;
  display: flex;  
}

.logo-link {
  box-sizing: border-box;
  width: 237px;
  background-image: url(../src/pics/logo.png);
  border: 2px solid #686ab1;
  border-radius: 8px;
  margin: 0 37px 0 0;
  text-align: center;
  box-shadow: 0 0 5px 5px rgba(122,122,122,0.3);
}

.logo-img {
  box-sizing: border-box;
}

.header-main {
  box-sizing: border-box;
  width: 626px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 0 5px 5px rgba(122,122,122,0.3);
}

.main-container {
  margin: 24px 0 0 0;
  display: flex;
}

.left-nav {
  box-sizing: border-box;
  width: 237px;
  background-color: white;
  border-radius: 8px;
  margin: 0 37px 0 0;
  padding: 15px;
  height: 208px;
  align-self: flex-star;
  font-size: 16px;  
  box-shadow: 0 0 5px 5px rgba(122,122,122,0.3);
}

.left-nav li {
  margin: 0 0 20px 0;
  font-weight: 600;
}

.link-span {
  color: #8a92a6;
  margin: 0 10px;
  font-weight: 600;
  cursor: pointer;
}

.header-user {
  color: coral;
}

.outlet-container {
  width: 626px;
  border-radius: 8px;
  /* background-color: white; */
}

.users-header {
  display: flex;
  justify-content: space-between;
}

.users-table {
  margin: 20px auto ;
  border: 1px solid grey;
  font-size: 0.7em;
}

.users-table-th {
  padding: 5px;
  border: 1px solid grey;
  background-color: #cccccc;
}

.users-table-td {
  padding: 5px;
  border: 1px solid grey;
}

.users-table-npp {
  width: 27px;
}

.users-table-name {
  width: 230px;
}

.users-table-mail {
  width: 230px;
}

.users-table-buttons {
  width: 170px;
}

.span-limit {
  font-size: 0.7em;
  margin: 0 5px 0 0;
}

.user-search-wrap {
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.users-search {
  height: 32px;
  width: 400px;
}

.users-icon {
  width: 25px;
  height: 25px;
  margin: 0 8px;
  cursor: pointer;
}

.paging {
  display: flex;
  margin: 0 auto;
  width: 230px;
}

.paging-button {
  margin: 0 10px;
  height: 40px;
  width: 40px;
  border: 1px solid grey
}

.paging-span {
  display: block;
  width: 70px;
  font-size: 18px;
  padding: 10px;
  text-align: center
}

.paging-arrows {
  font-size: 1.6em;
}

.navbar-nav {
  display: flex;
  font-size: 24px;
  text-decoration: none;
}

.nav-item, .nav-link:visited {
  list-style: none;
  margin: 20px;
  color: #04145c;
}

.nav-link  {
  text-decoration: none;
}

.home {
  margin: 0 60px;
  padding: 20px;
  width: 320px;
  font-size: 20px;
}

.login-input {
  margin: 0 0 20px 0;
  font-size: 18px;
  height: 40px;
  width: 300px;
  background-color: #fefee3;
}

.form-button {
  font-size: 18px;
  width: 150px;
  height: 40px;
  border: 3px solid #686ab1;
  border-radius: 5px;
  background-color: #acadd2;
}

.pol {
  margin: 0 0 0 0;
}

.input-span {
  display: block;
  color: #04145c;
  margin-bottom: 5px;
}

.mainpage {
  margin: 0 0 20px 0;
  padding: 20px;
  font-size: 22px;
  font-size: 1em;
  color: #8a92a6;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 5px rgba(122,122,122,0.3);
}

.read {
  margin-bottom: 20px;
}

.user-view {
  margin: 20px;
}

.user-view h1{
  font-size: 1.5em;
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.edit-fields {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  width: 80px;
  margin-right: 20px;
  
}

.user-edit-input {
  background-color: #fefee3;
  width: 300px;
  height: 30px;
  font-size: 1em;
}

.user-edit-button {
  margin-left: 121px;
  margin-bottom: 30px;
}

.addhotel-span {
  display: block;
  margin: 10px 0 0 0 ;
  
}

.addhotel-title {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 10px 0 0 0 ;
  font-size: 1.3em;
  color: #232d42;
}

.addhotel-desc {
  box-sizing: border-box;
  margin: 10px 0 0 0 ;
  padding: 5px;
  width: 100%;
  min-height: 300px;
  color: #232d42;
  font-size: 1.1em;
}

.addhotel-btn {
  color: white;
  display: flex;
  margin: 10px 20px 0 0;
  font-size: 1em;
}

.addhotel-btn.green {
  background-color: #1aa053;
  padding: 10px 20px;
}

.addhotel-btn.red {
  background-color: #e15d5d;
  padding: 10px 20px;
}

.addhotel-btn.blue {
  background-color: #5d73e1;
  padding: 10px 20px;
}

.addhotel-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.addhotel-preview {
  box-sizing: border-box;
  min-height: 150px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.addhotel-div-preview {
  margin: 0 5px 5px 0;
  height: 115px;
  position: relative;
}

.addhotel-pics-preview {
  height: 110px;
  width: auto;
  border: 1px solid black;
  border-radius: 5px;
  border: 3px solid white;
  cursor: move;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.close-img-preview{
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  background: rgba(25, 25, 25, 0.3);
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* background-color:white; */

}

.addhotel-pics-btn {
  width: 70px;
  height: 70px;
  margin: 5px;
  padding-bottom: 10px;
}

.addhotel-pics-btn span {
  font-size: 40px;
  color: #adb5bd;
}
.addhotel-input-file {
  display: none;
}

.hotels-main {
  background-color: #f5f6fa;
  /* box-shadow: 0 0 5px 5px rgba(122,122,122,0.3); */
}

.hotels-header {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px 5px rgba(122,122,122,0.3);
}

.hotels-item-wrap {
  padding: 15px;
  display: flex;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px 5px rgba(122,122,122,0.3);
}

.hotels-item-pic {
  width: 40%;
  height: 180px;
}

.hotels-item-conteiner {
  width: 60%;
  padding: 0 20px;
}

.hotels-item-description {
  margin: 10px 0;
  color: #232d42;
}

.hotels-item-btn {
  color: white;
  font-size: 1em;
  background-color: #5d73e1;
  padding: 10px 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.modal-wrap {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 30px;
  background-color: black;
  background: rgba(0, 0, 0, 0.8);
}

.pics-modal {
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  position: relative;
  
}

.close-modal {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232d42;
  color: white;
  cursor: pointer;
}